* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.skin {
    position: relative;
}

.san {
    border: 10px solid red;
    border-color: red transparent transparent;
    border-bottom: none;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 145px;
    transform: translateX(-50%);
}

.yuan {
    position: absolute;
    width: 20px;
    height: 6px;
    top: -16px;
    left: -10px;
    border-radius: 10px 10px 0 0;
    background-color: red;
}

.eye {
    border: 2px solid #000;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -32px;
    border-radius: 50%;
    background-color: #2e2e2e;
}

.eye::after {
    content: "";
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 6px;
    top: 2px;
}

.eye.left {
    transform: translateX(-100px);
}

.eye.right {
    transform: translateX(100px);
}